body{
  font-family:helvetica;
  margin:10px;
  padding:10px;
  background-color : #eeeeff ;
}


.ckanbody{
  background-color : #ffeeee ;
}


 .title{
color: green;
}

 .commontitle{
color: green;
}

